/** @format */
body {
  background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100%
      1068px no-repeat,
    linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
}
.container {
  text-align: center;
  margin-top: auto;
}

table {
  margin: auto;
}
input {
  border-radius: 2px;
  border: 5px solid #244624;
  font-size: 50px;
  height: 10vh;
  width: 456px;
}

button {
  border-radius: 10px;
  font-size: 50px;
  background: #978fa0;
  width: 102px;
  height: 90px;
  margin: 9px;
  transition: all 200ms ease;
}
button:hover {
  transform: scale(1.1);
}

.calculator {
  border: 4px solid #13695d;
  background-color: #0e060e;
  padding: 20px;
  border-radius: 53px;
  display: inline-block;
}

h1 {
  font-size: 40px;
  font-family: cursive;
}
